<% layout('layouts/app') %>
    <h1>All Places</h1>
  
        <% for(const place of places) {%>
            <div class="card mb-3 p-3">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="/image/<%= place.images[0].filename %>" alt="<%= place.title %>" class="img-fluid" style="height: 300px; object-fit: cover; object-position: center"; width="100%">
                    </div>
                    <div class="col-lg-7 offset-lg-1 col-md-6">
                        <h5 class="card-title"><%= place.title %></h5>
                        <p class="card-text"><%= place.description %></p>
                        <p class="small-text">
                            <small class="text-secondary"><%= place.location %></small>
                        </p>
                        <a href="/places/<%= place._id %>" class="btn btn-primary px-3">View <%= place.title %></a>
                    </div>
                </div>
            </div>
        <% }%>
      

